<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Karla&display=swap'
      rel='stylesheet'
    />
    <script src='https://cdn.tailwindcss.com?plugins=line-clamp'></script>
  </head>
  <body
    class='image relative bg-black font-bold w-[2240px] h-[1260px] p-32 font-[Karla]'
  >
    <h1 class='text-gray-300 text-4xl'>SV.</h1>
    <h1
      class='text-white my-32 py-2 leading-[80px] text-6xl line-clamp-3 font-medium'
    >
      {{title}}
    </h1>
    <h1 class='text-white font-normal my-32 text-3xl line-clamp-3'>
      {{date}}
      | by Shubham Verma
    </h1>

    <div class='bg-inherit w-full h-full absolute -z-10'></div>

    <h1 class='text-gray-300 mb-32 absolute bottom-0 text-4xl'>shbm.fyi</h1>
  </body>
</html>